
.iphone-container{
    width: 100vw;
    /* height: 100vh; */
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.iphone-container .title{
    /* background: rgb(204, 204, 204); */
    grid-area: 1/2/4/11;
}

.iphone-container .gallery{
    /* background: rgb(165, 165, 165); */
    grid-area: 4/2/16/11;
}

.iphone-container .model{
    /* background: rgb(126, 126, 126); */
    grid-area: 1/11/7/15;
}

.iphone-container .finish{
    /* background: rgb(211, 211, 211); */
    grid-area: 7/11/10/15;
}

.iphone-container .storage{
    /* background: rgb(94, 94, 94); */
    grid-area: 10/11/16/15;
}


@media(max-width: 1400px){
    .iphone-container .gallery{
        grid-column-end: 10;
        /* grid-area: 4/2/16/11; */
    }
}

@media(max-width: 900px){
    .iphone-container{
        height: max-content;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(37, 1fr);
    }
    .iphone-container .title{
        grid-area: 1/1/5/1;
    }
    .iphone-container .gallery{
        grid-area: 5/1/15/1;
    }
    .iphone-container .model{
        grid-area: 16/1/24/1;
    }
    .iphone-container .finish{
        grid-area: 24/1/28/1;
    }
    .iphone-container .storage{
        grid-area: 28/1/37/1;
    }
}