.home-main .title{
    font-weight: 500;
    font-size: 3.5rem;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-main .iphones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    margin-bottom: 350px;
}