.finish{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-selectors{
    display: flex;
}


.finish .color-text, .finish .color-selectors{
    width: 328px;
    margin: 5px 75px;
}

